.logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-image: url("../../assets/images/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: var(--primary-font);
  cursor: pointer;
}

.logoSection {
  padding: 5%;
  background: linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4);
  gap: 10px;
}

.past {
  width: 80%;
  height: max-content;
  margin: auto;
  font-family: var(--primary-font);
  background: linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4);
  color: #414146;
  padding: 4%;
  text-align: center;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 4%;
  cursor: pointer;
}

.box {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(215, 199, 244, 0.2) 0%,
    rgba(151, 133, 186, 0.2) 100%
  );
}

.app {
  background-color: inherit;
  box-shadow: none;
}

.name {
  font-size: 28px;
  color: var(--primary-color);
  font-weight: 700;
  cursor: pointer;
}

.inputContainer {
  width: 80vw;
  height: 10%;
  display: flex;
  flex-direction: row;
  gap: 1%;
  justify-content: center;
}

.inputContainer input {
  width: 70vw;
  height: 6vh;
  border: 1px solid #00000073;
  border-radius: 5px;
  outline: none;
}

.inputContainer button {
  width: max-content;
  height: 6vh;
  background-color: var(--secondary-color);
  border: 1px solid #00000073;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.chatBox {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.chatBox::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
.card {
  width: 100%;
  height: auto;
  background: #a995cd21;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightblue;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.content{
  width: 80%;
  height: 100%;
}
.content p:nth-child(1) {
  margin-bottom: -20px;
  font-weight: bold;
  font-size: larger;
}

.content p:nth-child(3) {
  margin-top: -10px;
  font-size: small;
}
.you {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  background-image: url("../../assets/images/you.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--primary-font);
  cursor: pointer;
  margin: 10px;
}

.chatLogo {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  background-image: url("../../assets/images/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--primary-font);
  cursor: pointer;
  margin: 10px;
}
